# Singularity container .def

Bootstrap: docker
From: ubuntu:20.04

%post
  # Install Python 3.8 and pip
  apt-get update && \
  apt-get install -y python3.8 python3-pip

  apt-get install build-essential
  pip3 install --upgrade pip
  pip3 install setuptools-rust
  # UNIPD clusters support pickle5 only
  pip3 install pickle5
  pip3 install pandas transformers datasets
  pip3 install numpy
  pip3 install torch torchvision torchaudio
  pip3 install accelerate

  # for NER models training
  pip3 install seqeval
  pip3 install evaluate

  # for LLama usage
  pip3 install SentencePiece
  pip3 install protobuf

  # for PEFT and quantization
  pip3 install nvidia-ml-py3
  pip3 install peft
  pip3 install bitsandbytes

  # for LLAMA2 training (optional)
  #pip3 install packaging
  #pip3 install ninja
  #MAX_JOBS=4 pip3 install flash-attn --no-build-isolation
  #pip3 install einops

  # for LLMs fast inference
  pip install vllm

%environment
  # Set the PATH to include Python 3.8
  export PATH=/usr/bin/python3.8:$PATH
  export LC_ALL=C